<html xmlns:th="https://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	
	<div th:if="${matrix1}">
		<h4 th:text="${matrix1}"/>
	</div>
	
	<div th:if="${matrix2}">
		<h4 th:text="${matrix2}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			
			<table>
				<tr><td>Select file to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
		
		<form method="POST" enctype="multipart/form-data" action="matrixMultip">
			
			<table>
				<tr><td> Press button to multiply: </td></tr>
				<tr><td></td><td><input type="submit" value="multiply" /></td></tr>
			</table>
		</form>
		
<!-- 		<form action="#" data-th-action="@{/action/multiply}" method="post" enctype="multipart/form-data">
		    <button type="submit" name="action" value="multiply">MULTIPLY</button>
		</form> 
-->
		
<!-- 		<form method="POST" enctype="multipart/form-data" action="/" >
			<table>
				<tr><td>Select action below:</td><td><input type="res" name="res" /></td></tr>
				<tr><td></td><td><input type="submit" value="MULTIPLY" /></td></tr>
			</table>	
		</form> 
-->
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

</body>
</html>
